.cardContainer {
  width: 100%;
  background-color: white;
  padding: 0 1em 0 1em;
  position: relative;
}

.discount {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  background-color: rgba(245, 38, 38, 0.781);
  border-radius: 0.155em;
  padding: 0.4em 0.3em 0.4em 0.3em;
}

.flexCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.7em;
  min-height: 450px;
}
.productName {
  font-size: 0.85em;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin-top: 0.8em;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.productImg {
  text-align: center;
  width: 130px;
  height: 330px;
}

.productPrice {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.price {
}

.oldPrice {
  text-decoration: line-through;
  color: rgba(134, 134, 134, 0.692);
}